
.marginRight{
  margin-right: 20px;
}

.marginRightS{
  margin-right: 10px;
}

.settingsTopButtons{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.logOutButton {
  width: 100px;
}