body.light {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #121212;
  --ion-text-color-rgb: 18, 18, 18;

  --ion-item-background: #fff;
  --ion-list-header-color: #222;
}


.ios .body.dark {}

.md .body.dark {}

ion-tab-bar {
  height: 70px;
  box-shadow: 0px 0px 10px #111;
}

ion-toolbar {
  --background: rgba(0, 0, 0, 0) !important;
  --border-color: rgba(0, 0, 0, 0) !important;
}

ion-title {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  text-align: start;
  padding: 0px 16px;
}

ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  height: 70px;
  font-size: x-large;
  box-shadow: 0px 0px 10px #111;
  background-image: linear-gradient(40deg, rgb(81, 0, 255), rgb(90, 66, 167), rgb(90, 66, 167), rgb(146, 92, 233), rgb(87, 77, 219));
}

ion-header, ion-toolbar {
  --min-height: 70px;
}

ion-toolbar {
  background: none !important;
}

.settingsTopButtons {
  margin: 20px 0px;
}

.secondaryTabBar {
  box-shadow: 0px 0px 10px #111;
  --background: #2C284F;
}

.profileLabel {
  font-size: large;
  background-color: #8442ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.addForm {
  margin-top: 20px;
}

.addField {
  padding: 10px 20px;
}

.addFieldS {
  padding: 10px 20px;
}

.addButton {
  margin: 0px 20px;
}

.arCard {
  background-image: linear-gradient(40deg, rgb(81, 0, 255), rgb(90, 66, 167), rgb(90, 66, 167), rgb(146, 92, 233), rgb(87, 77, 219));
  border: 2px rgb(215, 196, 255) solid;
  font-size: large;
  margin: 30px 20px 0px 20px;
  box-shadow: 0px 0px 10px #111;
}

.light .arCard {
  border: none;
}

.arCard ion-card-header {
  color: #fff;
}

.arCard ion-card-content {
  color: #fff;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.mapSwitch {
  height: 75px;
  margin: 20px 0px -30px 0px;
}

.mapButton {
  margin: 10px 20px;
  height: 90px;
  padding: 5px;
}

.mapSearch {
  padding: 10px 25px;
}

ion-toolbar ion-title {
  color: #fff;
}

ion-card-title h1 {
  color: #fff;
}

ion-card-title h4 {
  color: #fff;
}

.light ion-card-title h4 {
  color: #222;
}

.light .profileTitle {
  color: #2C284F
}

.button-native {
  box-shadow: 0px 0px 10px #111;
}

.arButtonMargin {
  margin: 20px 0px;
  box-shadow: 0px 0px 10px #111;
  border-radius: 10px;
}

.arNameBox {
  margin-top: 10px;
  margin-bottom: -10px;
}

.nftHunt {
  width: 90%;
  height: 51px;
}

.mapSettings {
  position: absolute;
  z-index: 1;
  top: 70px;
  background: #1F1B35;
  width: 100%;
  display: none;
}

.light .mapSettings {
  background: #fff;
}

.postCard {
  margin: 30px 0px;
  box-shadow: 0px 0px 10px #111;
  background-color: #2C284F;
}

.light .postCard {
  background-color: #fff;
  color: #2C284F;
}

.settingsOpen {
  display: block;
}

/* -------------------- Map Styling ------------------ */
@import url("https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css");