.signInContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px 15vw;
}

.light .signInContent {
    color: #1f1f1f;
}

.signInFormInner {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 10vh;
}

p{
    text-align: center;
}


.changeSign{
    background-color: var(--ion-item-background, var(--ion-background-color, #fff));
    border-radius: var(--border-radius);
}

.light .changeSign{
    background-color: var(--background);
}

input:-internal-autofill-selected {
    background-color: var(--ion-item-background, var(--ion-background-color, #fff)) !important;

}

.loginStatus{
    position: absolute;
    z-index: 2;
    transform: translate(45px, -50px);
    color: orangered;
}