.signUpContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1F1B35;
}

.signUpFormInner {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 10vh;
}