.signUpContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px 15vw;
}

.light .signUpContent {
    color: #1f1f1f;
}

.signUpFormInner {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 10vh;
}

p{
    text-align: center;
}


.changeSign{
    background-color: #1f1f1f;
}

.light .changeSign{
    background-color: var(--background);
}
